img {
    border: 2px solid black;
    padding: 3px;
    margin-top: 7%;
    background-color: white;
}

#HPV_Title {
    font-size: 40px;
    background: rgb(236, 24, 24);
    color: white;
    padding: 15px;
    border: 3px solid black;
    border-radius: 15px 50px 30px 5px;
    margin-bottom: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#HPV_Desc {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    border: 2px solid;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 15px;
    margin-top: 65px;
}

#HPV_Link {
    margin-bottom: 20px;
    margin-top: auto;
    font: 2em sans-serif;

}
#By {
    font-size: 21px;
    margin-bottom: 20px;
    margin-top: 10%;
    font-family: sans-serif;
}
/* body {
    background: rgb(28,23,110);
background: linear-gradient(90deg, rgba(28,23,110,1) 0%, rgba(47,44,214,1) 43%, rgba(0,176,255,1) 100%);
} */
